@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--color-1: #d7c8b1;
		--color-2: #e8e1d8;
		--color-3: #fff;
		--color-4: #ccc;
		--font-accent: 'DM Sans', serif;
		--font-body: 'Darker Grotesque', serif;
		/* --font-accent: 'Lora', serif;
		--font-body: 'Raleway', serif; */
		/* From website */
		--black: black;
		--white: white;
		--linen: #e8e1d8;
		--gainsboro: #e9e7e7;
		--white-2: #fcfcfc;
		--white-smoke: #f8f6f6;
		--black-2: #292927;
		--black-3: #1d1d1b;
		--cornflower-blue: #80aff5;
		--wheat: #d7c8b1;
	}

	:root {
		/* Fallbacks for non-notch devices */
		--safe-top: env(safe-area-inset-top, 0px);
		--safe-right: env(safe-area-inset-right, 0px);
		--safe-bottom: env(safe-area-inset-bottom, 0px);
		--safe-left: env(safe-area-inset-left, 0px);
	}

	/* Apply safe padding globally if needed */
	body {
		padding-top: var(--safe-top);
		padding-right: var(--safe-right);
		padding-bottom: var(--safe-bottom);
		padding-left: var(--safe-left);
	}

	body {
		@apply font-primary;
	}

	/* .ink-animation::before {
		content: '';
		position: absolute;
		inset: 0;
		background-image: url('$lib/assets/images/bg-2.jpg');
		background-size: cover;
		background-position: center;
		z-index: -1;

		mask-image: url('$lib/assets/images/ink_lv2.gif');
		mask-size: cover;
		mask-position: center;
		animation: zoom 150s ease-in-out infinite;
	} */

	.bg-squares {
		background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
			url('/src/lib/assets/images/bg-squares.png');
	}

	.content-bg {
		@apply bg-squares bg-contain;
	}

	@keyframes zoom {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.5);
		}
		100% {
			transform: scale(1);
		}
	}

	svg {
		@apply h-[inherit] w-[inherit];
	}
}
